{% extends "base.html" %}

{% block title %}O autorze{% endblock %}

{% block content %}
<div class="container mt-5 text-dark">
    <h1>O autorze</h1>
    <p>Cześć, mam na imię Maksym i jestem autorem tego projektu. Studiuję informatykę na Akademii Nauk Stosowanych w Nowym Targu i interesuję się tworzeniem praktycznych aplikacji webowych.</p>

    <p>Ten projekt powstał jako narzędzie do pobierania i analizy opinii z serwisu Ceneo.pl. Skupiłem się na wykorzystaniu web scrapingu, Pythona oraz frameworka Flask, aby stworzyć prosty i użyteczny serwis.</p>

    <p>Projekt umożliwia analizę danych w sposób przejrzysty i przydatny dla użytkownika. Mam nadzieję, że może się przydać nie tylko w celach edukacyjnych, ale i praktycznych.</p>

    <hr>
    <p>Kontakt: maksymscraper@example.com</p>
</div>
{% endblock %}
